body {
  position: absolute;
  overflow-y: auto;
  background-color: #252e39;
}

.navbar {
  background: #151a21cc;
  display: flex;
  flex-flow: row wrap;
  padding: 22px 48px 22px 48px;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  height: 44px;
  width: 183px;
  left: 0px;
  top: 0px;
}

.nav-button {
  background-color: #ff0ddc;
  color: #f3f3f3;
  font-family: "Inter", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  height: 45px;
  width: 77px;
  border-radius: 4px;
  font-family: Titillium Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.body_button {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  height: 45px;
  color: #f3f3f3;
  width: 77px;
  left: 899px;
  top: 21px;
  font-family: Titillium Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

#container {
  background-image: url(../assets/oneshots_banner.jpg);
  background-repeat: repeat-x;
  display: inline-flex;
  flex-flow: row wrap;
  justify-self: center;
  position: fixed;
  margin-top: 88px;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}

.left_side {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-content: center;
  flex-grow: 1;
  height: fit-content;
  margin-top: 30px;
}

.right_side {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  flex-grow: 1;
  height: 90vh;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.right_content {
  display: flex;
  flex-direction: column;
  height: 451px;
  margin-top: 24px;
  align-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 464px;
  height: 60vh;
}

h2 {
  height: 55px;
  width: 457px;
  left: 736px;
  top: 136px;
  font-family: "Titillium Web", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #f3f3f3;
}

h4 {
  font-family: "Inter", sans-serif;
  width: 428px;
  height: 40px;
  left: 532px;
  top: 183px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #41e9d3;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #41e9d3;
  height: 40px;
  width: 428px;
  left: 736px;
}

.h6-text {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

p {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: #f3f3f3;
}

a:link {
  color: #f3f3f3;
}

a:visited {
  color: #f3f3f3;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.hr {
  text-decoration: none !important;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #f3f3f3;
  text-decoration: underline;
}

.app {
  height: 404px;
  left: 51px;
  top: 100px;
}

#footer {
  background-image: url(../assets/oneshots-footer-banner.png);
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 144px;
  width: 100%;
}

.footer_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #f3f3f3;
}

.footer-text {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  height: fit-content;
  text-align: right;
}

/* ---------------------- Media Queries -------------------------------  */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
 
  .navbar {
    background: #151a21cc;
    display: flex;
    flex-flow: row wrap;
    height: 88px;
    top: 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    padding: 20px;
  }

  .right_side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column wrap;
    width: 100%;
    flex-grow: 1;
    height: 110vh;
    margin-left: -23px;
    max-width: max-content;
  }

  .right_content {
    max-width: 100%;
  }


  .right_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    flex-grow: 1;
    height: 125vh;
    margin-top: 30px;
    padding-left: 30px;
  }
  

  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 30px;
  }

  .app {
    height: 404px;
    width: 130vw;
    left: 51px;
    top: 100px;
  }

  #footer {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 320px;
  }

  .footer_left {
    padding-left: 15px;
  }
  .footer_right {
    height: 20vh;
    align-items: center;
    
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .navbar {
    background: #151a21cc;
    display: flex;
    flex-flow: row wrap;
    height: 88px;
    top: 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    padding: 20px;
  }

  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    margin-top: 30px;
  }

  .right_side {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    flex-grow: 1;
    height: 110vh;
    margin-left: -23px;
    max-width: max-content;
  }

  .app {
    width: fit-content;
  }

  .right_content {
    max-width: 100%;

  }
  
  #footer {
    height: 15vh;
    width: 100vw;
  }

  .footer_left {
    display: flex;
    width: 100vw;
    padding-left: 5px;
    flex-flow: row wrap;
  }

  .footer_right {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 70px;
    padding-right: 5px;
    width: 100vw;
  }
}

/* ----------- Google Pixel 2 ----------- */
@media only screen and (min-width: 411px) and (max-width: 823px) {
  .right_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    flex-grow: 1;
    height: 105vh;
    margin-top: 30px;
    padding-left: 30px;
  }

  .app {
    width: fit-content;
  }

  .left_side {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    height: 65vh;
    margin-top: 30px;
    margin-bottom: -80px;
  }

  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 148px;
    width: 100%;
  }

  .footer_left {
    margin-left: 10px;
  }

  .footer_right {
    margin-top: -1vh;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #footer {
    height: 13vh;
    width: 100vw;
  }

  .footer_left {
    display: flex;
    width: 100vw;
    padding-left: 5px;
    flex-flow: row wrap;
  }

  .footer_right {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 32px;
    padding-right: 5px;
    width: 100vw;
    align-items: flex-end;
  }

  .app {
    width: fit-content;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer {
    position: fixed;
    bottom: 0;
    height: 50vh;
    width: 100%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar {
    background: #151a21cc;
    display: flex;
    flex-flow: row wrap;
    height: 88px;
    top: 0;
    background-size: cover;
    position: fixed;
    width: 100%;
    padding: 20px;
  }

  .right_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    flex-grow: 1;
    height: 110vh;
    margin-left: -23px;
    width: 100vw;
  }


  .app {
    width: 100vw;
  }

  #container {
    max-width: 100vw;
  }

  .right_content {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .left_side {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-grow: 1;
    width: 100vw;
  }

  #footer {
    width: 100%;
  }

  .footer_left {
    display: flex;
    width: 100vw;
    padding-left: 5px;
    flex-flow: row wrap;
  }

  .footer_right {
    padding-bottom: 90px;
    padding-top: 1vh;
  }

  .footer-text {
    display: flex;
    flex-flow: column wrap;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
  }

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  

/* ----------- iPhone 12 Pro Max X ----------- */
@media only screen and (min-width: 428px) and (max-width: 767px) {

  .app {
    width: 100vw;
  }

  .footer_left {
    display: flex;
    width: 100vw;
    padding-left: 5px;
    flex-flow: row wrap;
  }

  .footer_right {
    padding-bottom: 90px;
  }

  .tc {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 148px;
    width: 100%;
    overflow: hidden;
  }

  .footer_right {
  }

  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    margin-top: 30px;
    height: max-content;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    height: 148px;
    width: 100%;
  }

  .app {
    height: 404px;
    width: 416px;
    left: 51px;
    top: 100px;
    margin-left: 150px;
  }

  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    margin-top: 30px;
    height: max-content;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 148px;
    width: 100%;
    overflow: hidden;
  }

  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    margin-top: 30px;
    height: max-content;
  }

  .app {
    height: 404px;
    width: 416px;
    left: 51px;
    top: 100px;
    margin-left: 150px;
  }
}

@media only screen and (min-device-width: 735px) and (max-device-width: 1250px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .left_side {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    align-content: center;
    flex-grow: 1;
    margin-top: 30px;
    height: max-content;
  }
}