body {
  background-image: url("../assets/oneshots_banner.png");
  background-repeat: repeat-x;
  height: 360px;
  width: 100%;
  border-radius: 0px;
  background-color: #252e39;
}

.logo {
  height: 44px;
  width: 183px;
  left: 48px;
  top: 22px;
  border-radius: 0px;
}

.form-inline,
.btn {
  background-color: #ff0ddc;
  color: #f3f3f3;
  height: 45px;
  left: 1339px;
  top: 21px;
  border-radius: 4px;
  padding: 9px, 16px, 9px, 16px;
}

.footer {
  background-image: url(/assets/Rectangle\ 2-2.png);
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 148px;
  width: 100%;
  overflow: hidden;
}

#icon_styles {
}

.me-4 {
  border: 1px solid #f3f3f3;

  padding: 5px;
  border-radius: 90%;
}
