body {
  background-image: url("../assets/oneshots_banner.jpg");
  background-repeat: repeat-x;
  position: absolute;
  /* overflow: visible; */
  background-color: #252e39;
}

.navbar {
  background: #151a21cc;
  display: flex;
  flex-flow: row wrap;
  height: 88px;
  top: 0;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.logo {
  height: 44px;
  width: 183px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding-left: 15px;
}

.nav-button {
  background-color: #ff0ddc;
  color: #f3f3f3;
  font-family: "Inter", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  height: 45px;
  width: 77px;
  border-radius: 4px;
  font-family: Titillium Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.body_button {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  height: 45px;
  background-color: #f3f3f3;
  width: 77px;
  left: 899px;
  top: 21px;
  border-radius: 4px;
  font-family: Titillium Web;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-self: center;
  margin-top: 100px;
  height: 100vh;
  width: auto;
  min-height: 100vh;
  margin-left: 50px;
  /* background-color: rgb(227, 180, 180); */
}

.left_side {
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-content: flex-start;
  flex-grow: 1;
  height: 30vh;
  margin-top: 30px;
}

.right_side {
  display: flex;
  flex-flow: column wrap;
  /* justify-items: center; */
  /* align-content: center; */
  width: 5em;
  flex-grow: 1;
  height: 30vh;
  margin-top: 30px;
}

.right_content {
  display: flex;
  flex-direction: column;
  height: 250px;
  margin-top: 15px;
  align-content: center;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  width: 416px;
  height: 404px;
  left: 205px;
  top: 124px;
}

h2 {
  height: 55px;
  width: 457px;
  left: 736px;
  top: 136px;
  font-family: "Titillium Web", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  color: #f3f3f3;
}

h4 {
  font-family: "Titillium Web", sans-serif;
  width: 428px;
  height: 40px;
  left: 532px;
  top: 183px;
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #41e9d3;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #41e9d3;
  height: 40px;
  width: 428px;
  left: 736px;
}

.h6-text {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

h6 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #f3f3f3;
}

.app {
  /* position: absolute; */
  height: 404px;
  width: 416px;
  left: 51px;
  top: 100px;
}

.footer {
  background-image: url(../assets/oneshots-footer-banner.png);
  background-repeat: repeat-x;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height: 148px;
  width: 100%;
  overflow: hidden;
}

.footer_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.tc {
  display: flex;
  flex-flow: column wrap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  text-align: right;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    height: 148px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #container {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    height: 100vh;
    padding-left: 20vw;
    min-height: 100vh;
    /* margin-left: 50px; */
    /* background-color: rgb(227, 180, 180); */
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .right_side,
  .left_side,
  #container {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    height: 800px;
    margin-top: 50px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .footer {
    height: 148px;
    width: 100%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 148px;
    width: 100%;
    overflow: hidden;
  }
  #container {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    margin-top: 100px;
    height: 100vh;
    padding-left: 20vw;
    min-height: 100vh;
    margin-left: 50px;
    /* background-color: rgb(227, 180, 180); */
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    height: 148px;
    width: 100%;
    overflow: hidden;
  }
  #container {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    margin-top: 200px;
    height: 100vh;
    padding-left: 20vw;
    min-height: 100vh;
    margin-left: 50px;
    /* background-color: rgb(227, 180, 180); */
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .footer {
    background-image: url(../assets/oneshots-footer-banner.png);
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    height: 148px;
    width: 100%;
    overflow: hidden;
  }
  #container {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    margin-top: 200px;
    height: 100vh;
    padding-left: 30vw;
    min-height: 100vh;
    margin-left: 50px;
    /* background-color: rgb(227, 180, 180); */
  }
}
